<h1>Sample Component</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John</td>
            <td>Boston</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>Santanu</td>
            <td>Boston</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>Sidhanta</td>
            <td>Boston</td>
            <td>USA</td>
        </tr>
    </tbody>
</table>