<div class="container">
    <h1>Data Binding</h1>
    FirstName : {{firstName}}<br>
    LastName : {{lastName}}

    <br><br>
    <h1 [innerText]="text"></h1>
    <h2>Example</h2>
    <button [disabled]="isDisabled">Click me</button><br>
    <a href="https://angular.io/" [target]="target">Angular</a> <br>
    <a [href]="website" [target]="target">{{SiteName}}</a>
    <button class="btn btn-primary" (click)="display()">Click Me</button><br><br>
    <button class="btn btn-primary" (click)="increment()">Cleck Me</button> &nbsp;
    <button class="btn btn-primary" (click)="decrement()">Cleck Me</button><br><br>
<p>
    {{counter}}

    </p>
    <br><br>
    Message: <input type="text" class="form-control" [(ngModel)]="message" (blur)="showMessage()">
</div>