<!-- <div>
  <h1>My First Angular App</h1>
</div> -->
<!-- <div class="container">
<app-sample></app-sample>
<app-display></app-display>
<h1>{{title}}</h1>
<h2>{{name}}</h2>
<h1>{{firstName}} {{lastName}}</h1>
<input type="text" class="form-control" [(ngModel)]="message"><br>
<button (click)="getName()" class="btn btn-primary">GetName</button>
</div> -->
<!-- <div class="container">
  <app-data-binding></app-data-binding>

</div> -->
<!-- <div class="Container">
  <h1>Structural Directives</h1>
  <h2>*ngFor</h2>
  <ul>
    <li *ngFor="let movie of movies">
      {{movie.title}} - {{movie.director}}

    </li>
  </ul>


</div>
<br><br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
      <th>title</th>
      <th>Director</th>
      <th>Cast</th>
      <th>Release Date</th>

      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{movie.title}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.cast}}</td>
        <td>{{movie.date}}</td>

      </tr>
    </tbody>
  </table>

</div>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Skill</th>
   

      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{emp.name}}</td>
        <td>{{emp.email}}</td>
        <td>
        <table>
          <tr *ngFor="let skill of emp.skills">
          <td>{{skill.skill}}</td>
          <td>{{skill.exp}}</td>
          </tr>
        </table>
      </td>
      </tr>
    </tbody>
  </table>

</div> -->

<!-- <div class="container">
  <h2>*ngSwitch</h2>
  <input type="text" [(ngModel)]="value">
<div [ngSwitch]="value">
  <div *ngSwitchCase="1">
    <img src="../assets/images/First.jpg" alt="First Image">
  </div>
  <div *ngSwitchCase="2">
    <img src="../assets/images/Second.jpg" alt="Second Image">
  </div>
  <div *ngSwitchCase="3">
    <img src="../assets/images/Third.PNG" alt="Third Image">
  </div>
  <div *ngSwitchDefault>This is Default</div>
</div>
</div> -->

<!-- <div class="container">
  <h2>*ngIf</h2>
  <input type="checkbox" [(ngModel)]="show"> Show/Hide
  
  <div *ngIf="show">Display This Section </div> -->
  <!-- <br><br>
  <div class="container">
  <input type="text" [(ngModel)]="show">
  <div *ngIf="show">Display this Section</div>


<div *ngIf="show; else display">
  if DIV block
</div>
<ng-template #display>
  This is else block
  </ng-template>
</div> -->

<!-- <div class="container">
  <h2>ngClass</h2>
  <div [ngClass]="'red size'">
    Red text with size 20px

  </div>
  <br><br>
  <div [ngClass]="['red', 'size']">
    Red text with size 20px

  </div>
  <br>
  <div [ngClass]="{'red':false,'size':true}">
    Red text with size 20px - Using Object Values

  </div>
</div> -->
<!-- <div class="container">
  <div appChangeColor>This is Div</div>
</div> -->
<!-- <div class="container">
  <h1>Template Driven Forms</h1>
  <app-template-driven></app-template-driven>
</div> -->
<!-- <div class="container">
  <h1>Pipes in Angular</h1>
  <app-pipe></app-pipe>
</div> -->
<!-- <div class="container">
  <app-employee></app-employee>
</div> -->
<!-- <div class="container">
  <app-parent></app-parent>
</div> -->
<!-- <div class="container">
 
  <app-student  [childStudentId]="studentId"></app-student>
</div> -->

<div class="container">
  <h2>Organization</h2>
  <app-organisation></app-organisation>
</div>